table {
    height: 100px; /*TODO Darf nicht hart codiert sein M&F sonst sind schmale Level breit gezogen M&F*/
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

table, td {
    border-collapse: collapse;
    border: 0px solid; /*TODO Tableborder bis grafiken eingefügt werden mit linien M&F*/
}

td, .ground, .wall, .target, img {
    text-align: center;
}

.wall {

}

.target {
    /*text-align: center; TODO das sagen wir doch schon bei rd oder? M&F*/
    background: url(pictures/target.png);
    background-size: 100%;
}

h1 {

    text-align: center;
    border-collapse: collapse;
}

#win {
    text-align: center;
}

#states {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#userstatus {
    font-size: 20px;
    text-align: right;
}

#gamekeystatus {
    color: red;
    font-size: 20px;
    text-align: right;

}

#overlay {
    position: absolute;
    top: 0px; /*TODO 0 oder 1?*/
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 10, 10, 0.8);
    height: 100%;
    text-align: center;

}

#loadLvl {
    visibility: hidden;
}

#stat {

    text-align: center;
}

stat {
    font-size: 20px;
}

#next {

    height: 50px;
    width: 200px;
    position: absolute;
    text-align: center;
    top: 75%;
    left: 60%; /*TODO 60 oder 55?*/

}

#welcome, h1 {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    background-color: red;

}

button {

    font-size: 20px;
    height: 60px;
    width: 200px;
}

#submit {
    font-size: 15px;
    height: 22px;
    width: 200px;

}

#close {
    font-size: 15px;
    height: 22px;
    width: 200px;

}

form {
    position: absolute;
    left: 30%;
    top: 40%;

}

#resetbutton {

    position: absolute;
    right: 85%;
    font-size: 15px;
    height: 50px;
    width: 200px;
    visibility: hidden;
    background-color: lightgrey;
}

#start {
    position: absolute;

}

#registered {
    position: absolute;
    left: 40%;
    top: 50%

}

#edituser {
    position: absolute;
    left: 40%;
    top: 50%
}

em {
    color: red;
}