table {
    height: 100px; /*TODO Darf nicht hart codiert sein M&F sonst sind schmale Level breit gezogen M&F*/
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

table, td {
    border-collapse: collapse;
    border: 0px solid; /*TODO Tableborder bis grafiken eingefügt werden mit linien M&F*/
}

#lvl{ /*TODO haben wir das nicht oben schon festgelegt? (table) M&F*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

td,.ground,.wall,.target,img{
    text-align: center;
}

.wall {

}

.target {
    /*text-align: center; TODO das sagen wir doch schon bei rd oder? M&F*/
    background: url(pictures/target.png);
    background-size: 100%;
}
/*
TODO was ist denn mit ground, player und crate? und wieso ehemalig zweimal ground? M&F
.ground, player {
    text-align: center;
    height: 80px;
    width: 100px;
}

.ground, crate {
    text-align: center;
    height: 80px;
    width: 100px;
}
*/

h1 {
    text-align: center;
    border-collapse: collapse;
}
#win{
    text-align: center;
}

#states{
    text-align: center;
    margin-left: auto;
    margin-right:auto ;
}

#userstatus{
    font-size: 20px;
    text-align: right;
}
#gamekeystatus{
    color:red;
    font-size:20px;
    text-align:right;

}